%form.navbar-form{action: "/search", method: :get}
  .input-group
    %input#srch-term.form-control{name: "search_input", placeholder: "Search...", type: "text", style: 'height:35px;'}/
    .input-group-btn
      %button.btn.btn-default{:type => "submit"}
        %i.glyphicon.glyphicon-search