.search-container.font-override.text-left{:style =>"color:white;padding-top: 10%;"}
  .search-title
    %h1{style: "padding-left:5%;"}
      Search results

  .search-results
    - if @players.present?
      -  @players.each do |player|
        .search-result
          = link_to player.name, player_path(player), class: "link-override"
          = player_avatar player
    - elsif @teams.present?
      -  @teams.each do |team|
        = link_to team.name, team_path(team), class: "link-override"
    - elsif @leagues.present?
      -  @leagues.each do |league|
        = link_to league.name, league_path(league), class: "link-override"
    - else
      %h2 Can't find anything on here! Try again
    %br