%h4
  - if current_player
    play the game on and off the pitch
    %br
    %br
    contact us at info@matchfixing.co.uk
  - else
    for any enquiries contact us at info@matchfixing.co.uk

.uni-logo
  %h5 Currently used by
  = image_tag('newcastle_university_logo.png')