#rateModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.font-override
      .modal-header
        %h4#myModalLabel.modal-title.text-center
          Rate
          = team.name
      .modal-body.text-center
        = render 'rendered_pages/ratings_form', {object: team, model: 'team'}
