.about-container
  - if current_player
    %a{:href => "/players/#{current_player.id}"}
      .col-xs-4.text-center.create-profile-box
  - else
    .col-xs-4.text-center.landing-box
    
  - if current_player
    .col-xs-4.text-center.logo-box-logged-in
      / .logo-box2.text-center
      / .logo-box3.text-center
  - else
    .col-xs-4.text-center.logo-box
      .landing-box2.text-center.font-override
        = render 'devise/sessions/new'
      / .logo-box3.text-center
  
  - if current_player
    %a{:href => "/teams/new"}
      .col-xs-4.text-center.create-team-box
  - else
    .col-xs-4.text-center.landing-box

  / 
  /   .col-xs-6.text-center.create-team-box

  / 
  /   .col-xs-6.text-center.create-profile-box
    
