input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.about-container{
  height: 100vh;
}

.landing-box{
  background-color: black;
  height: 100%;
}

.landing-box2{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 50%;
}

.create-team-box{
  border-left: 3px solid black;
  height: 100%;
  background-image: url('/assets/team.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: white;

}

.my-team-box{
  border-left: 3px solid black;
  height: 100%;
  background-image: url('/assets/myteam.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: white;

}
.logo-box{
  padding-top: 20px;
  position: relative;
  background-color: black;
  height: 100%;
  background-image: url('/assets/logo.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.logo-box-logged-in{
  position: relative;
  background-color: black;
  height: 100%;
  background-image: url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.create-profile-box{
  border-right: 3px solid black;
  height: 100%;
  background-image: url('/assets/myprofile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: white;
}

.logo-box2{
  position: absolute;
  width: 100%;
  background-color: white;
  height: 30%;
  background-image: url('/assets/team.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}
.logo-box3{
  position: absolute;
  width: 100%;
  background-color: white;
  height: 30%;
  bottom: 0;
  background-image: url('/assets/team.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.btn-white{
  background-color: white;
  border-color: white;
  color: black;
}

@media (max-width: 600px) {
  .logo-box{
    background-size: 150%;
  }
}