.about-container{
  height: 100vh;
}

.create-team-box{
  height: 100%;
  background-image: url('/assets/team.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.create-match-box{
  background-color: black;
  height: 100%;
}
.create-profile-box{
  height: 100%;
  background-image: url('/assets/profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}