@mixin basic_styles($background_color,$background_color_alt,$color,$color_alt)

{
//.container{
//  font-family: 'Futura-Oblique', sans-serif !important;
//}

.color_override{
  background-color: $background_color !important;
  color: $color !important;
  i{
    color: $color;
  }
}

.color_override_alt{
  background-color: $background_color_alt !important;
  color: $color_alt !important;
  i{
    color: $color_alt;
  }
}

.stats-box{
  background-color: $background_color;
    h1{
      border-bottom: 3px solid $color;
      padding: 10px;
      margin: 0;
      color: $color;
    }
    h2{
      font-size: 100px;
      color: $color;
    }
}

.alt{
  background-color: $background_color_alt;
    h1{
      border-bottom: 3px solid $color_alt;
      color: $color_alt;
    }
    h2{
      color: $color_alt;
    }
}


}

.font-override{
  font-family: 'Futura-Oblique', sans-serif;
}

.login-social-media-logos{
  border-bottom: solid black 1px;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

.login-social-media-logo{
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.modal-content{
  width: 75%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Futara-Extra-Bold';
  src:url('futura-extra-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futara-Koyu';
  src:url('futura-koyu.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futara-Light';
  src:url('futura-light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Oblique';
  src:url('futura-oblique.ttf');
  font-weight: normal;
  font-style: normal;
}

.futara-bold{
  font-family: 'Futarae', sans-serif;
}