@mixin basic_styles($background_color,$background_color_alt,$color,$color_alt)

{
.container{
  font-family: 'Orbitron', sans-serif;
}

.font-override{
  font-family: 'Orbitron', sans-serif;
}

.color_override{
  background-color: $background_color !important;
  color: $color !important;
  i{
    color: $color;
  }
}

.color_override_alt{
  background-color: $background_color_alt !important;
  color: $color_alt !important;
  i{
    color: $color_alt;
  }
}

/*.nav-tabs > li > a{
  text-decoration: none;
  color: $color;
  background-color: $background_color;
  border: 3px solid $color;
}*/

.stats-box{
  background-color: $background_color;
    h1{
      border-bottom: 3px solid $color;
      padding: 10px;
      margin: 0;
      color: $color;
    }
    h2{
      font-size: 100px;
      color: $color;
    }
}

.alt{
  background-color: $background_color_alt;
    h1{
      border-bottom: 3px solid $color_alt;
      color: $color_alt;
    }
    h2{
      color: $color_alt;
    }
}


}

.login-social-media-logo{
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
}

@font-face {
  font-family: 'Futara-Extra-Bold';
  src:url('futura-extra-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futara-Koyu';
  src:url('futura-koyu.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futara-Light';
  src:url('futura-light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Oblique';
  src:url('futura-oblique.ttf');
  font-weight: normal;
  font-style: normal;
}

.futara-bold{
  font-family: 'Futarae', sans-serif;
}