html{
  height: 100%;
  body{
    height: 100%;
    .wrapper{
      height: 100%;
      header{
        height: 15%;
        border-bottom: solid black 4px;
        background: linear-gradient(
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.8)
        ), url('/assets/navbar-grass-wallpaper.jpg') no-repeat scroll;
      }
      .content{
        min-height: 100%;
      }
      footer{
        position: relative;
        height: 25%;
        clear:both;
        background-color: rgba(220, 220, 216, 0.5);
        padding-top: 4%;
        color: black;
      }
    }
  }
}