
.container-fluid{
  background-color: black;
}
.navbar-header{
  background-color: black;
}
.navbar.navbar-default{
  margin-bottom: 0;
  border: none;
}

.link-override{
  text-decoration: none;
  color: white;
  &:visited{
    color:white;
    text-decoration: none;
  }
  &:hover{
    color:green;
    text-decoration: none;
  }
}

.link-override-alt{
    text-decoration: none;
    color: black;
    &:visited{
         color:black;
     }
    &:hover{
         color:green;
         text-decoration: none;
     }
}

html{
  min-height: 100%;
}

/*#footer{
  background-color: grey;
  border-top: 2px solid white;
}*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px; 
  }
/*  .page-wrap:after {
    content: "";
    display: block;
  }*/
  .site-footer{
    background-color: grey;
    height: 50px; 
    color: white;
    padding-top: 10px;
  }

#footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear:both;} 

select.date-select {
    float: left;
    width: 10%;
}

.welcome-header{
    padding-left: 5% !important;
    width: 100%;
    height: 10%;
    border-bottom: solid black 2px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url('/assets/navbar-grass-wallpaper.jpg') no-repeat fixed;
}

.welcome-header h1{
    display: inline-block;
    color: white;
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 8px;
}

.welcome-header ul li .navbar-link{
    width:100%;
    height:100%;
    padding-top:8px;
}

.welcome-header ul li .navbar-link a{
    font-family: 'Futara-Koyu', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.welcome-header ul li .navbar-link a:hover{
    color: green;
}

.welcome-header ul{
    margin-top: 1.5%;
    padding-right: 0;
    padding-left: 0;
}

.welcome-header ul li .dropdown{
    position: relative;
    display: inline-block;
}

.welcome-header ul li .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.welcome-header ul li .dropdown-content a{
    color: black;
    font-size: 12px;
}

.welcome-header ul li .dropdown-content ul{
    padding-left: 0px
}

.welcome-header ul li .dropdown-content ul li{
    list-style: none;
    border-bottom: black solid 1px;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.welcome-header ul li .dropdown:hover .dropdown-content {
    display: block;
}

.welcome-header.container-fluid .collapse.navbar-collapse{
    width: 72%;
    display: inline-block !important;
}

.welcome-header.container-fluid .collapse.navbar-collapse ul{
    width:100%;
    margin-right: 0;
}

.sub-navbar.welcome-header{
    padding-left: 5%;
    width: 100%;
    height: 8%;
    border-bottom: solid black 2px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url('/assets/navbar-grass-wallpaper.jpg') no-repeat fixed;
}

.sub-navbar.welcome-header ul.navbar-nav{
    margin-left: 35.5%;
    margin-top: 1%;
}

.btn-black{
  background-color: black;
  border-color: black;
  color: white;
}

.modal-header{
  background-color: black !important;
}

.modal-title{
  color: white;
}

.close{
  opacity: 1 !important;
}

#bs-example-navbar-collapse-1 ul li a {
    font-family: 'Futara-Koyu', sans-serif;
}

.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-margin{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#srch-term{
    border-radius: 4%;
}

.navbar-default {
  background-color: #0a060b;
  border-color: #0c060f;
}
.navbar-default .navbar-brand {
  color: #fbfeff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #4bd833;
}
.navbar-default .navbar-text {
  color: #fbfeff;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfeff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4bd833;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0a060b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fbfeff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #4bd833;
  background-color: #0c060f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0a060b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4bd833;
  background-color: #0c060f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4bd833;
  background-color: #0c060f;
}
.navbar-default .navbar-toggle {
  border-color: #0c060f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0c060f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfeff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfeff;
}
.navbar-default .navbar-link {
  color: #fbfeff;
}
.navbar-default .navbar-link:hover {
  color: #4bd833;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4bd833;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4bd833;
    background-color: #0c060f;
  }

    .container-fluid.welcome-header{
        padding-right: 0;
    }

    .container-fluid.welcome-header ul{
        width: 100% !important;
        margin:0;
        border: 0;
        background: black;
   }

    .welcome-header ul li{
        border-bottom: 1px solid white;
        width: 100% !important;
    }

    .welcome-header h1 {
        font-size: 21px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .welcome-header ul li .dropdown:hover .dropdown-content {
        width: 100%;
    }

    .container-fluid.welcome-header .collapse.navbar-collapse{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        border-top-width: 1px;
        padding-left: 0;
        display: block !important;
    }

    ul.logged-in{
        width: 100% !important;
        margin-right: 0;
        margin-left: 0;
    }

    ul.logged-in li{
        padding-left: 0;
    }

    ul.logged-in .search{
        width: 100% !important;
    }

}


