// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body{
  background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('/assets/pitch.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

/*body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ), url('/assets/pitch.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

html body {
    min-height: 100%;
}*/
/*
.profile-container{
  
  color: white;
  height: 110vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.45);
}

.profile-nation-image{
  background-image: url('/assets/messi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
}


.profile-bottom{
  padding-top: 10;
  height: 65%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.profile-top{
  height: 35%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.profile-name-rating{
  height: 100%;
  max-width: 100%;
}

.profile-rating{
  height: 35%;
  max-width: 100%;
}
.profile-name{
  height: 65%;
  max-width: 100%;
}

.profile-about{
  height: 100%;
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: 100%;
  padding-top: 5%;
}

.profile-list-item{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.45);
  max-width: 100%;
}*/


/*.profile-image-col{
  height: 100%;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile-image{
  padding-top: 10px;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  background-image: url('/assets/messi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid white;
  max-width: 100%;
}*/


/*.small-avatar {
  height: 30px;
  border-radius: 1000px;
  margin-bottom: -8px;
}*/

/*@media only screen and (max-width: 520px) {

   .profile-tabs { font-size: 15px; }
    
   .stats-info { 
    h4{
      font-size: 12px; 
    }
  }
}*/


.profile-left{
  height: 100%;
}

.profile-right{
  height: 100%;
  /*padding-left: 0px !important;*/
}

.profile-container{
  height: 90vh;
}

.profile-image-box{
  height: 50%;
}

.profile-about{
  height: 25%;
}

.profile-about{
  height: 25%;
}

.profile-image{
  height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*object-fit: contain;*/
  border-top:2px solid black;
}

.name-box hr{
  width: 60%;
  border-bottom: 3px solid black;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.speciality-box hr{
  width: 60%;
  border-bottom: 3px solid black;
}

.speciality-img{
  height: 150px;
  width: 150px;
}

.profile-stats-box{
  height: 50%;
}

.profile-tab{
  background-color: white;
  color: black;
  max-width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.profile-tab:hover{
  background-color: black;
  color: green;
}

.profile-tabs{
  font-size: 30px;
}

.profile-stats{
  height: 100%;
  overflow: hidden;
}

.stats-info{
  color: white;
  height: 100%;
  max-width: 100%;
  h1{
    font-size: 70px;
  }
}

.stats-info-background{
  background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('/assets/pitch.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.stats-info-title{
  color: white;
  border-bottom: 2px solid white;
}

#team{
  color: white;
  height: 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  h1{
    span{
      font-size: 15px;
    }
  }
}

.td-pad{
  padding-top: 35px !important;
}

.modal{
  margin-top: 10%;
}

.small_specialities{
  height: 116px;
}

@media only screen and (max-width: 520px) {

   .profile-tabs { font-size: 15px; }
    
   .stats-info { 
    h4{
      font-size: 15px; 
    }
  }

  .speciality-img{
    height: 100px;
    width: 100px;
  }
/*  .profile-right{
    margin-top: 100px;
  }*/
  .td-pad{
    padding-top: 0px !important;
  }

  .welcome-header{
      font-size: 20px;
      padding-left: 0% !important;

      button{
        text-decoration: none;
      }
  }
  .modal{
    margin-top: 20%;
  }
  .profile-image{background-size: 75% !important}
}

.cancel-my-account{
  margin-top: 2%;
}