// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body{
  background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('/assets/pitch.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url('/assets/pitch.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

html body {
    min-height: 100%;
}

.profile-container{
  
  color: white;
  height: 100vh;
  width: 100vw;
}

.profile-nation-image{
  background-image: url('/assets/messi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
}


.profile-bottom{
  padding-top: 10;
  height: 65%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.profile-top{
  height: 35%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.profile-name-rating{
  height: 100%;
  max-width: 100%;
}

.profile-rating{
  height: 35%;
  max-width: 100%;
}
.profile-name{
  height: 65%;
  max-width: 100%;
}

.profile-about{
  height: 100%;
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: 100%;
  padding-top: 10%;
}

.profile-list-item{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.45);
  max-width: 100%;
}

.profile-tab{
  background-color: rgba(255, 255, 255, 0.45);
  border-left: 2px solid white;
  border-right: 2px solid white;
  max-width: 100%;
}

profile-tabs{
  margin-bottom: 10px; 
  max-width: 100%;
}

.profile-stats{
  height: 100%;
  max-width: 100%;
  padding-top: 10%;

}

/*.profile-break{
  height: 5%;
  max-width: 100%;
}
*/
.profile-image-col{
  height: 100%;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile-image{
  padding-top: 10px;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  background-image: url('/assets/messi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid white;
  max-width: 100%;
}

.stats-info{
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  max-width: 100%;
}