li.star_rating{
  background: url("star-off.png");
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.on{
  @extend .star_rating;
  background: url("star-on.png");
}

.small-star{
  width: 50px;
  height: 50px;
}

.ratings-comment{
  display: block;
  margin: 0 auto;
  margin-top: 2%;
}
