// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.forms-edit{
  width: 50%;
  margin: 0 auto;
}

.team-container{
  color: white;
  height: 100vh;
  width: 100vw;
}

.team-header{
  height: 45%;
  background: url('/assets/ronaldo.jpg') no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

.team-stats{
  height: 50%;
}

.stats-info{
  height: 100%;
}

.ratings-row{
  background-color: rgba(0, 0, 0, 1);
  height: 10%;
  /*padding-top: 20px;*/
  color: white;
  h1{
    font-size: 18px;
    i{
      font-size: 15px;
    }
  }
}

#matches{
  color: black;
}
#players{
  color: black;
}