/* line 6, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.forms-edit {
  width: 50%;
  margin: 0 auto;
}

/* line 11, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.team-container {
  color: white;
  height: 100vh;
  width: 100vw;
}

/* line 17, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.team-header {
  height: 45%;
  background: url("/assets/ronaldo.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}

/* line 27, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.team-stats {
  height: 50%;
}

/* line 31, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.stats-info {
  height: 100%;
}

/* line 35, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.ratings-row {
  background-color: black;
  height: 10%;
  /*padding-top: 20px;*/
  color: white;
}
/* line 40, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.ratings-row h1 {
  font-size: 18px;
}
/* line 42, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
.ratings-row h1 i {
  font-size: 15px;
}

/* line 48, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
#matches {
  color: black;
}

/* line 51, /Users/ThatTobMate/Side Projects/freelance/match_fixing/app/assets/stylesheets/teams.scss */
#players {
  color: black;
}
